<footer class="footer">
  <small>
    The <a href="http://artoolkit.org/">Augmented Reality</a>
    by <a href="http://facebook.com/HIENBX94">Bùi Xuân Hiền</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>
